/* FONTS */
@font-face {
  font-family: 'P22UndergroundCYProBook';
  src: local('P22UndergroundCYPro-Book'), url('../fonts/P22UndergroundCYPro-Book.woff') format('woff');
}
/* MAIN */
* {
  box-sizing: border-box;
}
body {
  font-family: 'P22UndergroundCYProBook';
}
.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
body,
html {
  padding: 0;
  margin: 0;
}
.m150 {
  margin-top: 150px;
  margin-bottom: 150px;
}
.title {
  font-weight: 400;
  font-size: 28px;
  line-height: 115%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.view-all {
  border: 1px solid #000000;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
  text-decoration: none;
  max-width: 285px;
  width: 100%;
  margin: auto;
}
.collections-item-view {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #181818;
  padding-bottom: 7px;
  max-width: max-content;
  border-bottom: 1px solid rgba(24, 24, 24, 0.5);
}
.collections-item-view__text {
  margin-right: 10px;
}
.link-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.link-btn--left {
  transform: rotate(180deg);
}
.link-btn__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #181818;
  margin-right: 37px;
  border-bottom: 1px solid;
}
.link-btn .link-arrow {
  position: relative;
}
.link-btn .link-arrow__self {
  position: absolute;
  max-width: 60px;
  top: calc(50% - 4px);
  left: -30px;
}
.link-btn .link-arrow__circle {
  border: 1px solid #181818;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
}
.link-btn--white .link-btn__name {
  color: #ffffff;
}
.link-btn--white .link-arrow__circle {
  border: 1px solid #ffffff;
}
.link-btn--white .link-arrow__self path {
  fill: #ffffff;
}
.breadcrums {
  display: flex;
  align-items: center;
  padding: 15px 0px;
}
.breadcrums__item {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #181818;
}
.breadcrums__item:not(:last-child) {
  margin-right: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #868686;
}
.breadcrums__item:not(:last-child):after {
  content: "/";
  position: absolute;
  right: -7px;
  top: -1px;
}
.breadcrums__item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #868686;
}
.title-h1 {
  font-weight: 400;
  font-size: 35px;
  line-height: 115%;
  text-transform: uppercase;
  color: #181818;
  margin-top: 32px;
  margin-bottom: 48px;
  text-align: center;
}
/* PAGINATION */
.pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  text-align: center;
}
.pagination__add {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  cursor: pointer;
}
.pagination .pagination-list {
  display: flex;
  justify-content: end;
}
.pagination .pagination-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.pagination .pagination-list__item:not(:last-child) {
  margin-right: 10px;
}
.pagination .pagination-list__item a {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}
.pagination .pagination-list__item--active a {
  opacity: 1;
}
/* SORT */
.sort-catalog {
  display: flex;
  justify-content: end;
  padding: 10px 0;
}
.sort-catalog__text {
  margin-right: 10px;
}
.sort-catalog__list {
  display: none;
}
/* SEO TAGS */
.tabs-seo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -7px;
}
.tabs-seo__item {
  margin: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  opacity: 0.3;
  border: 1px solid #181818;
  border-radius: 29px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #000000;
}
/* MENU */
.i-catalog-menu__column .w-catalog-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.i-catalog-menu__column .w-catalog-menu__list--first a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  text-transform: uppercase;
  color: #181818;
  opacity: 0.9;
}
.i-catalog-menu__column .w-catalog-menu__list--first a:hover {
  color: #A8886D;
  opacity: 1;
}
.i-catalog-menu__column .w-catalog-menu__list--middle a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #181818;
}
.i-catalog-menu__column .w-catalog-menu__list--middle .catalog-menu-list__item {
  padding-left: 10px;
}
.i-catalog-menu__column .w-catalog-menu__list--middle .catalog-menu-list__item--main {
  padding-left: 0;
}
.i-catalog-menu__column .w-catalog-menu__list--middle .catalog-menu-list__item--main a {
  text-transform: uppercase;
}
.i-catalog-menu__column .w-catalog-menu__list--last a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #181818;
}
.i-catalog-menu__column .w-catalog-menu .catalog-menu-list {
  display: flex;
  flex-direction: column;
}
.i-catalog-menu__column .w-catalog-menu .catalog-menu-list:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EDEDED;
}
.i-catalog-menu__column .w-catalog-menu .catalog-menu-list__item:not(:last-child) {
  margin-bottom: 10px;
}
/* HEADER */
.header .header-top {
  display: flex;
  justify-content: space-between;
  padding: 31px 0 5px;
  border-bottom: 1px solid #868686;
  overflow: hidden;
}
.header .header-top .header-top-lang {
  display: flex;
  align-items: end;
}
.header .header-top .header-top-lang__item {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  text-align: center;
  color: #181818;
  opacity: 0.5;
}
.header .header-top .header-top-lang__item:not(:last-child) {
  margin-right: 14px;
}
.header .header-top .header-top-lang__item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background: #181818;
  opacity: 0.5;
  right: -7px;
  top: 1px;
}
.header .header-top .header-top-lang__item--active {
  opacity: 1;
}
.header .header-top .header-top-icons {
  display: flex;
  align-items: end;
}
.header .header-top .header-top-icons__search {
  cursor: pointer;
}
.header .header-top .header-top-icons__wishlist {
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
}
.header .header-top .header-top-icons__cart {
  margin-right: -5px;
}
.header .header-bottom {
  padding: 15px 0px;
}
.header .header-bottom .header-bottom-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.header .header-bottom .header-bottom-list__item a {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
  text-decoration: none;
}
.header .header-bottom .header-bottom-list__link--exclusive {
  background: linear-gradient(0deg, #c1a875, #c1a875), radial-gradient(46.75% 46.75% at -2.5% -3.75%, #ffffff 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(76.95deg, #576265 9.81%, #9ea1a1 20.93%, #848b8a 60.12%, #576265 69.76%, #5d686a 74.94%, #757a7b 87.31%, #576265 93.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: color, normal, normal;
}
.header .catalog-menu {
  display: none;
}
/* BANNER */
.bannerSlider {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.bannerSlider__image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
.bannerSlider__link {
  position: absolute;
  bottom: 155px;
}
.bannerSlider__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.bannerSlider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CATEGORY TABS */
.category-tabs {
  margin-top: 80px;
}
.category-tabs .t-content-slider {
  display: none;
}
.category-tabs .t-content-slider--active {
  display: block;
}
.category-tabs .category-tabs-inner__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.category-tabs .category-tabs-inner__list div {
  cursor: pointer;
  font-weight: 400;
  font-size: 35px;
  line-height: 115%;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  opacity: 0.3;
  position: relative;
}
.category-tabs .category-tabs-inner__list div.active {
  opacity: 1;
}
.category-tabs .category-tabs-inner__list div:not(:last-child) {
  margin-right: 42px;
}
.category-tabs .category-tabs-inner__list div:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 35px;
  background: #181818;
  right: -24px;
  top: -2px;
}
.category-tabs .category-item-link {
  text-decoration: none;
}
.category-tabs .category-item-link__image {
  max-width: 380px;
}
.category-tabs .category-item-link__image img {
  width: 100%;
}
.category-tabs .category-item-link__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-top: 15px;
}
.category-tabs .cat-button-next {
  position: absolute;
  right: -70px;
  top: calc(50% - 35px);
  z-index: 50;
}
.category-tabs .cat-button-prev {
  position: absolute;
  left: -70px;
  top: calc(50% - 35px);
  z-index: 50;
}
/* PRODUCT ITEM */
.product-item a {
  text-decoration: none;
}
.product-item .product-item-link-image {
  position: relative;
}
.product-item .product-item-link-image a img {
  width: 100%;
  display: block;
}
.product-item .product-item-link-image__wishlist {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
}
.product-item .product-item-link__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #181818;
  margin-top: 15px;
  display: block;
}
.product-item .product-item-link__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 115%;
  color: #868686;
  margin-top: 5px;
  max-width: 213px;
}
.product-item .product-item-link__price {
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
}
.product-item .product-item-link__btn {
  margin-top: 15px;
}
.product-item .btn-buy {
  background: #BAA391;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
}
.product-item:hover .product-item-link-image__wishlist {
  opacity: 1;
  visibility: visible;
  transition: 0.5s all;
}
/* PRODUCT TABS */
.product-tabs .product-tabs-inner__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.product-tabs .product-tabs-inner__list div {
  cursor: pointer;
  font-weight: 400;
  font-size: 35px;
  line-height: 115%;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  opacity: 0.3;
  position: relative;
}
.product-tabs .product-tabs-inner__list div.active {
  opacity: 1;
}
.product-tabs .product-tabs-inner__list div:not(:last-child) {
  margin-right: 42px;
}
.product-tabs .product-tabs-inner__list div:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 35px;
  background: #181818;
  right: -24px;
  top: -2px;
}
.product-tabs .t-content-slider {
  display: none;
}
.product-tabs .t-content-slider--active {
  display: block;
}
.product-tabs .product-tabs-inner__view {
  margin-top: 70px;
}
.product-button-prev {
  position: absolute;
  left: -70px;
  top: 215px;
  z-index: 50;
}
.product-button-next {
  position: absolute;
  right: -70px;
  top: 215px;
  z-index: 50;
}
/* INTERECTIVE BLOCK */
.interractive-block {
  text-align: center;
}
/* COLLECTIONS */
.collections .collections-inner__title {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collections .collections-item {
  display: flex;
}
.collections .collections-item__number {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
  opacity: 0.5;
  margin-bottom: 10px;
}
.collections .collections-item__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: #181818;
}
.collections .collections-item__column--first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collections .collections-item__column--image {
  margin: 0px 20px;
}
.collections .collections-item__column--image img {
  display: block;
  max-width: 590px;
  width: 100%;
}
.collections .collections-item__column--last {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.collections .collections-item__view {
  margin-top: 100px;
}
/* INFORMATION BLOCK */
.information .information-inner__title {
  max-width: 690px;
  margin: auto;
  margin-bottom: 30px;
}
.information .information-inner .c-information-inner {
  display: flex;
  justify-content: space-between;
}
.information .information-inner .c-information-inner__left {
  max-width: 380px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  opacity: 0.8;
}
.information .information-inner .c-information-inner .information-inner-right {
  position: relative;
}
.information .information-inner .c-information-inner .information-inner-right__border {
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 272px;
  height: 322px;
  display: block;
  border: 1px solid #BAA391;
  border-radius: 100px 0px 0px 0px;
}
.information .information-inner .c-information-inner .information-inner-right img {
  position: relative;
  z-index: 2;
  display: block;
}
.information .information-inner .c-information-inner .information-inner-right__dop {
  position: absolute;
  left: -200px;
  bottom: 93px;
}
.information .information-inner .c-information-inner .information-inner-right__dop img {
  z-index: 3;
  border-radius: 100px 0px 0px 0px;
  overflow: hidden;
}
.information__view {
  margin-top: 40px;
  margin-left: 0;
}
/* CATALOG */
.catalog {
  background: #F4F4F4;
  padding: 50px 0px 70px;
}
.catalog__link {
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 20px;
}
.catalog__list {
  display: flex;
  justify-content: space-between;
}
/* BLOG */
.blog__list {
  margin-top: 30px;
}
.blog__view {
  margin-top: 50px;
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.blog-list__image {
  max-width: 285px;
}
.blog-list__image img {
  width: 100%;
  object-fit: cover;
}
.blog-list__item {
  text-decoration: none;
}
.blog-list__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
  margin-top: 12px;
}
.blog-list__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  color: #000000;
  opacity: 0.5;
  margin-top: 10px;
}
/* SUBSCRIBE */
.subscription-field {
  position: relative;
  max-width: 590px;
  margin: auto;
  margin-top: 20px;
}
.subscription-field__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #868686;
  padding: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #868686;
  outline: none;
}
.subscription-field__btn {
  position: absolute;
  border: none;
  background: none;
  right: 0;
  top: 12px;
}
/* FOOTER */
.footer {
  background: #F4F4F4;
  padding-top: 51px;
  padding-bottom: 15px;
  margin-top: -70px;
}
.footer .footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-menu li:not(:last-child) {
  margin-bottom: 15px;
}
.footer .footer-menu li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #181818;
  text-decoration: none;
}
.footer .footer-inner-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(134, 134, 134, 0.3);
  padding-bottom: 25px;
}
.footer .footer-inner-top__column--first {
  display: flex;
  gap: 104px;
}
.footer .footer-inner-top__column--last {
  display: grid;
  grid-column-gap: 112px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.footer .footer-inner-bottom {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-inner-bottom__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  color: #868686;
}
.footer .footer-inner-bottom__policy a {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  text-decoration: none;
  color: #868686;
}
.footer-info-block__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
  margin-bottom: 10px;
}
.footer-info-block__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #181818;
  opacity: 0.8;
}
.footer-info-block__content--time {
  display: flex;
  flex-direction: column;
}
.footer-info-block__content--time div:not(:last-child) {
  margin-bottom: 6px;
}
.footer-info-block__content .footer-social {
  display: flex;
  margin-top: 20px;
}
.footer-info-block__content .footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-info-block__content .footer-social__item:hover {
  opacity: 0.8;
}
/* CATALOG PAGE */
.title-category-page {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 895px;
  align-items: center;
}
.title-category-page .title-h1 {
  margin-top: 17px;
  margin-bottom: 17px;
  text-align: left;
}
.catalog-page {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 895px;
}
.catalog-page .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 20px;
}
.catalog-page__pagination {
  margin-top: 70px;
}
/* BLOG PAGE */
.blog-page .blog-page-item {
  display: flex;
}
.blog-page .blog-page-item:not(:last-child) {
  margin-bottom: 30px;
}
.blog-page .blog-page-item__image {
  max-width: 285px;
  margin-right: 20px;
}
.blog-page .blog-page-item__image img {
  width: 100%;
  display: block;
}
.blog-page .blog-page-item .i-blog-content__name {
  font-weight: 400;
  font-size: 22px;
  line-height: 115%;
  color: #181818;
  margin-bottom: 10px;
}
.blog-page .blog-page-item .i-blog-content__info {
  display: flex;
  align-items: center;
}
.blog-page .blog-page-item .i-blog-content__date,
.blog-page .blog-page-item .i-blog-content__view {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  color: #181818;
  opacity: 0.6;
}
.blog-page .blog-page-item .i-blog-content__view {
  display: flex;
  align-items: center;
}
.blog-page .blog-page-item .i-blog-content__view img {
  display: block;
  margin-left: 27px;
  margin-right: 3px;
}
.blog-page .blog-page-item .i-blog-content__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  opacity: 0.8;
  max-width: 441px;
  margin-top: 25px;
}
.blog-page .blog-page-item .i-blog-content__link {
  margin-top: 50px;
}
/* PRODUCT PAGE */
.product-single__view {
  margin-top: 25px;
  display: block;
}
.product-single .thumbsSlider {
  margin-top: 10px;
}
.product-single .thumbsSlider .swiper-slide img {
  max-width: 135px;
  max-height: 135px;
  object-fit: cover;
}
.product-single .swiper-slide img {
  width: 100%;
  display: block;
}
.product-single__wrapper {
  display: flex;
}
.product-single__image {
  width: 690px;
  margin-right: 60px;
}
.product-single .product-content__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 115%;
  color: #181818;
  margin: 0;
}
.product-single .product-content__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #181818;
  margin-top: 10px;
  opacity: 0.4;
}
.product-single .product-content__option {
  margin-top: 20px;
}
.product-single .product-content .product-content-option {
  display: flex;
  align-items: center;
}
.product-single .product-content .product-content-option__item {
  margin-right: 12px;
}
.product-single .product-content .product-content-option__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
  margin-right: 20px;
}
.product-single .product-content .product-content-option__name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(24, 24, 24, 0.8);
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  opacity: 0.5;
  cursor: pointer;
}
.product-single .product-content .product-content-option input {
  position: absolute;
  opacity: 0;
  left: -99999px;
}
.product-single .product-content .product-content-option input:checked + .product-content-option__name {
  opacity: 1;
}
.product-single .product-content__stock {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: rgba(24, 24, 24, 0.5);
  margin: 15px 0px 20px;
  padding-left: 10px;
}
.product-single .product-content__stock:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #EDCE9B;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 5px;
}
.product-single .product-content__price {
  font-weight: 400;
  font-size: 26px;
  line-height: 115%;
  color: #181818;
  opacity: 0.9;
  margin: 20px 0 25px;
}
.product-single .product-content__btns {
  display: flex;
  align-items: center;
}
.product-single .product-content .product-content-hint {
  display: flex;
  align-items: center;
  max-width: 285px;
  margin-top: 13px;
  justify-content: center;
  cursor: pointer;
}
.product-single .product-content .product-content-hint__image {
  margin-right: 5px;
  display: block;
}
.product-single .product-content .product-content-hint__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  color: #181818;
  opacity: 0.6;
}
.product-single .product-content__info {
  margin-top: 50px;
}
.product-single .product-content .product-content-info .product-info-item {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid rgba(134, 134, 134, 0.5);
}
.product-single .product-content .product-content-info .product-info-item:last-child {
  border-bottom: 1px solid rgba(134, 134, 134, 0.5);
}
.product-single .product-content .product-content-info .product-info-item__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
}
.product-single .product-content .product-content-info .product-info-item__caption {
  display: none;
  margin-top: 8px;
  max-width: 720px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  color: #181818;
  opacity: 0.6;
}
.product-single .product-content .product-content-info .product-info-item__icon {
  position: absolute;
  right: 0;
  top: 10px;
}
.product-single .product-content .product-content-info .product-info-item--active .product-info-item__caption {
  display: block;
}
.product-single .product-content .product-content-info .product-info-item--active .product-info-item__icon svg rect:last-child {
  display: none;
}
.product-single .btn-add-wishlist {
  font-weight: 400;
  font-size: 12px;
  line-height: 115%;
  color: #181818;
  opacity: 0.6;
  display: flex;
  align-content: center;
  text-decoration: none;
}
.product-single .btn-add-wishlist__text {
  margin-left: 7px;
}
.product-single .btn-add-cart {
  background: #BAA391;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  max-width: 285px;
  margin-right: 20px;
}
/* CARUSEL PRODUCT */
.carusel-product__title {
  margin-bottom: 30px;
}
/* FAQ BLOCK */
.faq__title {
  margin-bottom: 30px;
}
.faq .faq-list-item {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid rgba(134, 134, 134, 0.5);
}
.faq .faq-list-item:last-child {
  border-bottom: 1px solid rgba(134, 134, 134, 0.5);
}
.faq .faq-list-item__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
}
.faq .faq-list-item__caption {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #181818;
  opacity: 0.8;
  margin-top: 8px;
  max-width: 720px;
  width: 100%;
}
.faq .faq-list-item__icon {
  position: absolute;
  right: 0;
  top: 10px;
}
.faq .faq-list-item--active .faq-list-item__caption {
  display: block;
}
.faq .faq-list-item--active .faq-list-item__icon svg rect:last-child {
  display: none;
}
/* NEWS SINGLE */
.news-single__banner {
  margin-top: 30px;
}
.news-single__banner img {
  width: 100%;
}
.news-single__info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-single__date,
.news-single__view {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  color: #181818;
  opacity: 0.6;
}
.news-single__view {
  display: flex;
  align-items: center;
}
.news-single__view img {
  display: block;
  margin-left: 27px;
  margin-right: 3px;
}
.news-single__share {
  margin-top: 80px;
}
.news-single__container {
  max-width: 900px;
  margin: 40px auto 0;
}
.news-single__container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  opacity: 0.7;
}
.share-social {
  display: flex;
  align-items: center;
}
.share-social__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #181818;
  opacity: 0.9;
  margin-right: 20px;
}
.share-social__item {
  transition: 0.5s all;
}
.share-social__item:not(:last-child) {
  margin-right: 10px;
}
.share-social__item:hover {
  opacity: 0.8;
  transition: 0.5s all;
}
.base-information {
  max-width: 780px;
  margin: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  opacity: 0.9;
}
.base-information__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
  opacity: 0.7;
  margin: 10px auto 50px;
  text-align: center;
}
.base-information__undefined {
  text-align: center;
  margin-top: 110px;
}
.base-information__home {
  text-decoration: none;
  background: #BAA391;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  max-width: 285px;
  margin: 60px auto 0;
}
.base-information__empty {
  font-weight: 400;
  font-size: 55px;
  line-height: 115%;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-top: 170px;
}
.base-information .cart-empty-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.base-information .cart-empty-image__item:not(:last-child) {
  margin-right: 10px;
}
.base-information .base-information-list {
  max-width: 550px;
  margin: 20px 0 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 95px;
}
.base-information .base-information-list__item {
  display: flex;
  align-items: center;
}
.base-information .base-information-list__item span:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  color: #FFFFFF;
  background: #181818;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.base-information .base-information-list__item span:last-child {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #181818;
  opacity: 0.9;
}
.base-information p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  opacity: 0.9;
}
.base-information h2 {
  margin-bottom: 10px;
  margin-top: 55px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #181818;
}
.base-information ul li,
.base-information ol li {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  opacity: 0.9;
}
.base-information .base-information-item {
  display: grid;
  grid-template-columns: 23px 1fr;
  grid-gap: 10px;
}
.base-information .base-information-item:first-child {
  margin-top: 25px;
}
.base-information .base-information-item:not(:last-child) {
  margin-bottom: 20px;
}
.base-information .base-information-item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  opacity: 0.9;
}
/* CONTACT PAGE */
.contact-page__title {
  margin: 40px auto 35px;
}
.contact-page__wrapper {
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-gap: 75px;
}
.contact-page__info .footer-info-block:not(:last-child) {
  margin-bottom: 20px;
}
.contact-page .contact-social {
  display: flex;
}
.contact-page .contact-social__item {
  transition: 0.5s all;
}
.contact-page .contact-social__item:not(:last-child) {
  margin-right: 10px;
}
.contact-page .contact-social__item:hover {
  opacity: 0.8;
  transition: 0.5s all;
}
/* PAGE COLLECTIONS LIST */
.collection-list .collection-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
.collection-list .collection-item:not(:last-child) {
  margin-bottom: 80px;
}
.collection-list .collection-item__image img {
  display: block;
}
.collection-list .collection-item--reserve .collection-item__image {
  order: 2;
}
.collection-list .collection-item--reserve .collection-item__info {
  order: 1;
}
.collection-list .collection-item-info__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 115%;
  color: #181818;
  padding-top: 19px;
  border-top: 1px solid rgba(24, 24, 24, 0.5);
}
.collection-list .collection-item-info__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  opacity: 0.8;
  margin-top: 10px;
  max-width: 450px;
}
.collection-list .collection-item-info__link {
  margin-top: 85px;
}
.collection-list .collection-item-info__link .link-btn__name {
  font-size: 16px;
  line-height: 115%;
  color: #868686;
  border: none;
}
.collection-list .collection-item-info__link .link-arrow__self {
  opacity: 0.7;
}
.collection-list .collection-item-info__link .link-arrow__circle {
  width: 50px;
  height: 50px;
  border: 1px solid #868686;
}
.collection-list .collection-item-image {
  display: flex;
  margin-top: 30px;
  border-bottom: 1px solid rgba(24, 24, 24, 0.5);
  padding-bottom: 20px;
}
.collection-list .collection-item-image__dop1 {
  margin-right: 20px;
}
.collection-list .collection-item-image__dop2 {
  border-radius: 0px 100px 0px 0px;
  overflow: hidden;
}
.collection-list .collection-item-image img {
  display: block;
}
/* COLLECTION SINGLE */
.collection-single__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #181818;
  opacity: 0.8;
  margin: 20px auto 50px;
  max-width: 560px;
}
.collection-list-page {
  position: relative;
}
.collection-list-page__title {
  margin-bottom: 30px;
}
.collection-list-page__view {
  margin-top: 50px;
}
.collection-list-page .cat-button-next {
  position: absolute;
  right: -70px;
  top: calc(50% - 35px);
  z-index: 50;
}
.collection-list-page .cat-button-prev {
  position: absolute;
  left: -70px;
  top: calc(50% - 35px);
  z-index: 50;
}
.collection-list-page .category-item-link {
  text-decoration: none;
  position: relative;
  display: block;
}
.collection-list-page .category-item-link__wrapper {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}
.collection-list-page .category-item-link__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: #EDEDED;
}
.collection-list-page .category-item-link__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #EDEDED;
  opacity: 0.8;
  margin-top: 10px;
}
/* QUOTE */
.quote {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #181818;
  opacity: 0.8;
}
.quote__container {
  padding: 35px 0px;
  border-top: 1px solid rgba(24, 24, 24, 0.5);
  border-bottom: 1px solid rgba(24, 24, 24, 0.5);
}
.quote__caption {
  position: relative;
  max-width: 495px;
  margin-left: auto;
  margin-right: auto;
}
.quote__caption:after,
.quote__caption:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: url('../img/quote.svg') no-repeat;
}
.quote__caption:before {
  left: -50px;
  top: -25px;
}
.quote__caption:after {
  right: -50px;
  bottom: -25px;
  transform: rotate(180deg);
}
/* VIDEO */
.video .video-wrapper {
  position: relative;
}
.video .video-wrapper__image {
  width: 100%;
}
.video .video-wrapper__play {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
