/* MEDIA */
@notebook:   ~"screen and (max-width: 1340px)";
@netbook:   ~"screen and (max-width: 1279px)";
@phone:   ~"screen and (max-width: 1020px)";

.body-about-page{
  .header,
  .bg-gray
  {
    background: #F4F4F4;
  }
}

.about-page{
  position: relative;
  z-index: 5;

  &:after{
    position: absolute;
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 550px;
    width: 100%;
    background: #fff;
    border-radius: 1000px 1000px 0 0;
  }

  &__title{
    max-width: 680px;
    width: 100%;
    padding:40px 0px 30px;
    margin: auto;
  }

  &__hr{
    position: relative;
    z-index: 5;
    height: 1px;
    max-width: 710px;
    width: 100%;
    margin: 50px auto 30px;
    background: #181818;
  }

  &__content{
    position: relative;
    z-index: 5;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #181818;
    opacity: 0.8;
    max-width: 795px;
    margin: auto;

    @media @phone{
      font-weight: 400;
      font-size: 16px;
    }
  }

  .about-item-link{
    text-align: center;

    img{
      display: block;
      margin: auto;

      @media @phone{
        width: 100%;
      }
    }
  }

  .about-button-next{
    position: absolute;
    z-index: 60;
    right: 0;
    top: ~"calc(50% - 35px)";

    @media @phone{
      transform: scale(0.7);
    }
  }

  .about-button-prev{
    position: absolute;
    z-index: 60;
    left: 0;
    top: ~"calc(50% - 35px)";

    @media @phone{
      transform: scale(0.7) rotate(180deg);
    }
  }
}

.info-block{
  padding:60px 0px;

  .info-block-wrapper{
    display: flex;
    justify-content: center;

    &--revert{
      flex-direction: row-reverse;

      .info-block-wrapper__image{
        margin-right: 0;
        margin-left: 90px;
      }

      @media @phone{
        flex-direction: column-reverse;
      }

      .info-block-wrapper__image{
        @media @phone{
          margin-top: 30px;
        }
      }
    }

    &__image{
      margin-right: 90px;

      @media @phone{
        margin-right: 0;
      }

      img{
        display: block;
        width: 590px;
        height: 605px;

        @media @phone{
          width: 100%;
          height: unset;
        }
      }

      &--no-height{
        img{
          height: auto;

          @media @phone{
            width: 100%;
          }
        }
      }

      &--radius{
        img{
          border-radius: 300px 300px 0px 0px;
          overflow: hidden;
          object-fit: cover;
        }
      }

      @media @phone{
        margin-left: 0 !important;
      }
    }

    &__btn{
      margin-top: 75px;

      @media @phone{
        width: 100%;
      }
    }

    @media @phone{
      flex-direction: column-reverse;
    }
  }

  .info-block-content{
    &__title{
      max-width: 490px;
      font-weight: 400;
      font-size: 35px;
      line-height: 115%;
      text-transform: uppercase;
      color: #181818;
      margin-bottom: 20px;
      text-align: left;

      @media @phone{
        margin-top:0 !important;
      }

      &--mt120{
        margin-top: 120px;
      }

      &--mt70{
        margin-top: 70px;
      }

      @media @phone{
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
      }
    }

    &__text{
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #181818;
      opacity: 0.7;
      text-align: left;

      &--width450{
        max-width: 450px;
        width: 100%;
      }

      &--width480{
        max-width: 480px;
        width: 100%;
      }

      @media @phone{
        font-weight: 400;
        font-size: 16px;
      }
    }

    &--width420{
      max-width: 420px;
      width: 100%;
    }
  }

  @media @phone{
    padding: 0;
  }

  &.bg-gray{
    padding: 35px 0px;
  }
}

.clients{
  .clients-item{
    &__text{
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: #181818;
      margin-top:15px;
    }

    @media @notebook{
      img{
        width: 100%;
      }
    }
  }

  &__title{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.clients-button-prev{
  @media @phone{
    transform: rotate(180deg) scale(0.7);
  }
}

.clients-button-next{
  @media @phone{
    transform: scale(0.7);
  }
}
