/* FONTS */
@font-face {
    font-family: 'P22UndergroundCYProBook';
    src: local('P22UndergroundCYPro-Book'),
    url('../fonts/P22UndergroundCYPro-Book.woff') format('woff');
}

/* MAIN */
*{
    box-sizing: border-box;
}

body{
    font-family: 'P22UndergroundCYProBook';
}

.container{
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

body,
html{
    padding:0;
    margin:0;
}

.m150{
    margin-top:150px;
    margin-bottom: 150px;
}

.title{
    font-weight: 400;
    font-size: 28px;
    line-height: 115%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.view-all{
    border: 1px solid #000000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #181818;
    text-decoration: none;
    max-width: 285px;
    width: 100%;
    margin: auto;
}

.collections-item-view{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: #181818;
    padding-bottom: 7px;
    max-width: max-content;
    border-bottom: 1px solid rgba(24, 24, 24, 0.5);

    &__text{
        margin-right: 10px;
    }
}

.link-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;

    &--left{
        transform: rotate(180deg);
    }

    &__name{
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: #181818;
        margin-right: 37px;
        border-bottom: 1px solid;
    }
    .link-arrow{
        position: relative;

        &__self{
            position: absolute;
            max-width: 60px;
            top: ~"calc(50% - 4px)";
            left: -30px;
        }

        &__circle{
            border: 1px solid #181818;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: block;
        }
    }
    &--white{
        .link-btn__name{
            color: #ffffff;
        }
        .link-arrow__circle {
            border: 1px solid #ffffff;
        }
        .link-arrow__self path{
            fill: #ffffff;
        }
    }
}

.breadcrums{
    display: flex;
    align-items: center;
    padding: 15px 0px;

    &__item{
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 115%;
        color: #181818;

        &:not(:last-child){
            margin-right: 10px;
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 115%;
            color: #868686;

            &:after{
                content:"/";
                position: absolute;
                right: -7px;
                top: -1px;
            }
        }

        a{
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 115%;
            color: #868686;
        }
    }
}

.title-h1{
    font-weight: 400;
    font-size: 35px;
    line-height: 115%;
    text-transform: uppercase;
    color: #181818;
    margin-top: 32px;
    margin-bottom: 48px;
    text-align: center;
}

/* PAGINATION */
.pagination{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    text-align: center;

    &__add{
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        color: #000000;
        cursor: pointer;
    }
    
    .pagination-list{
        display: flex;
        justify-content: end;

        ul{
            padding:0;
            margin:0;
            list-style: none;

            display: flex;
            align-items: center;
        }

        &__item{

            &:not(:last-child){
                margin-right: 10px;
            }

            a{
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                color: #000000;
                opacity: 0.3;
                text-decoration: none;
            }

            &--active{
                a{
                    opacity: 1;
                }
            }
        }
    }
}

/* SORT */
.sort-catalog{
    display: flex;
    justify-content: end;
    padding:10px 0;

    &__text{
        margin-right: 10px;
    }

    &__list{
        display: none;
    }
}

/* SEO TAGS */
.tabs-seo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:-7px;

    &__item{
        margin: 7px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        gap: 10px;
        opacity: 0.3;
        border: 1px solid #181818;
        border-radius: 29px;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 115%;
        color: #000000;
    }
}

/* MENU */
.i-catalog-menu{
    &__column{
        .w-catalog-menu{
            &__list{
                list-style: none;
                padding: 0;
                margin: 0;

                &--first{
                    a{
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 115%;
                        text-transform: uppercase;
                        color: #181818;
                        opacity: 0.9;

                        &:hover{
                            color: #A8886D;
                            opacity: 1;
                        }
                    }
                }

                &--middle{
                    a{
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 115%;
                        color: #181818;
                    }

                    .catalog-menu-list{
                        &__item{
                            padding-left: 10px;

                            &--main{
                                padding-left: 0;

                                a{
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }

                &--last{
                    a{
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 115%;
                        color: #181818;
                    }
                }
            }

            .catalog-menu-list{
                display: flex;
                flex-direction: column;
                &:not(:last-child) {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #EDEDED;
                }

                &__item{
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

/* HEADER */
.header{
    .header-top{
        display: flex;
        justify-content: space-between;
        padding:31px 0 5px;
        border-bottom: 1px solid #868686;
        overflow: hidden;

        .header-top-lang{
            display: flex;
            align-items: end;

            &__item{
                position: relative;
                font-weight: 400;
                font-size: 16px;
                line-height: 115%;
                text-align: center;
                color: #181818;
                opacity: 0.5;

                &:not(:last-child){
                    margin-right: 14px;

                    &:after{
                        content:"";
                        position: absolute;
                        width: 1px;
                        height: 15px;
                        background: #181818;
                        opacity: 0.5;
                        right: -7px;
                        top: 1px;
                    }
                }

                &--active{
                    opacity: 1;
                }
            }
        }

        .header-top-icons{
            display: flex;
            align-items: end;

            &__search{
                cursor: pointer;
            }
            
            &__wishlist{
                padding: 2px;
                margin-left:5px;
                margin-right:5px;
            }

            &__cart{
                margin-right: -5px;
            }
        }
    }

    .header-bottom{
        padding:15px 0px;

        .header-bottom-list{
            padding: 0;
            margin: 0;
            list-style:none;
            display: flex;
            justify-content: space-between;

            &__item{
                a {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 100%;
                    color: #181818;
                    text-decoration: none;
                }
            }

            &__link{
                &--exclusive{
                    background: linear-gradient(0deg, #C1A875, #C1A875), radial-gradient(46.75% 46.75% at -2.5% -3.75%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(76.95deg, #576265 9.81%, #9EA1A1 20.93%, #848B8A 60.12%, #576265 69.76%, #5D686A 74.94%, #757A7B 87.31%, #576265 93.32%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    background-blend-mode: color, normal, normal;
                }
            }
        }
    }
    
    .catalog-menu{
        display: none;
    }
}

/* BANNER */
.bannerSlider {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    
    &__image{
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__link{
        position: absolute;
        bottom: 155px;
    }

    &__content{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* CATEGORY TABS */
.category-tabs{
    margin-top: 80px;

    .t-content-slider{
        display: none;
        
        &--active{
            display: block;
        }
    }

    .category-tabs-inner{
        &__list{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            div{
                cursor: pointer;
                font-weight: 400;
                font-size: 35px;
                line-height: 115%;
                text-align: center;
                text-transform: uppercase;
                color: #181818;
                opacity: 0.3;
                position: relative;

                &.active{
                    opacity: 1;
                }

                &:not(:last-child){
                    margin-right:42px;

                    &::after{
                        content:"";
                        position: absolute;
                        width: 1px;
                        height: 35px;
                        background: #181818;
                        right: -24px;
                        top: -2px;
                    }
                }
            }
        }
    }

    .category-item-link{
        text-decoration: none;

        &__image{
            max-width: 380px;

            img{
                width: 100%;
            }
        }

        &__name{
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            text-align: center;
            text-transform: uppercase;
            color: #181818;
            margin-top:15px;
        }
    }

    .cat-button-next{
        position: absolute;
        right: -70px;
        top: ~"calc(50% - 35px)";
        z-index: 50;
    }

    .cat-button-prev{
        position: absolute;
        left: -70px;
        top: ~"calc(50% - 35px)";
        z-index: 50;
    }
}

/* PRODUCT ITEM */
.product-item{
    a{
        text-decoration: none;
    }

    .product-item-link-image{
        position: relative;

        a img{
            width: 100%;
            display: block;
        }

        &__wishlist{
            position: absolute;
            top:20px;
            right: 20px;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s all;
        }
    }

    .product-item-link{
        &__name{
            font-weight: 400;
            font-size: 16px;
            line-height: 115%;
            color: #181818;
            margin-top: 15px;
            display: block;
        }

        &__description{
            font-weight: 400;
            font-size: 12px;
            line-height: 115%;
            color: #868686;
            margin-top: 5px;
            max-width: 213px;
        }

        &__price{
            margin-top: 12px;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: #181818;
        }

        &__btn{
            margin-top:15px;
        }
    }

    .btn-buy{
        background: #BAA391;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
        border: none;
        outline:none;
        cursor: pointer;
    }

    &:hover{
        .product-item-link-image{
            &__wishlist{
                opacity: 1;
                visibility: visible;
                transition: 0.5s all;
            }
        }
    }
}

/* PRODUCT TABS */
.product-tabs{
    .product-tabs-inner{
        &__list{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            div{
                cursor: pointer;
                font-weight: 400;
                font-size: 35px;
                line-height: 115%;
                text-align: center;
                text-transform: uppercase;
                color: #181818;
                opacity: 0.3;
                position: relative;

                &.active{
                    opacity: 1;
                }

                &:not(:last-child){
                    margin-right:42px;

                    &::after{
                        content:"";
                        position: absolute;
                        width: 1px;
                        height: 35px;
                        background: #181818;
                        right: -24px;
                        top: -2px;
                    }
                }
            }
        }
    }

    .t-content-slider{
        display: none;
        
        &--active{
            display: block;
        }
    }

    .product-tabs-inner{
        &__view{
            margin-top: 70px;
        }
    }
}

.product-button-prev{
    position: absolute;
    left: -70px;
    top: 215px;
    z-index: 50;
}

.product-button-next{
    position: absolute;
    right: -70px;
    top: 215px;
    z-index: 50;
}

/* INTERECTIVE BLOCK */
.interractive-block{
    text-align: center;
}


/* COLLECTIONS */
.collections{

    .collections-inner{
        &__title{
            margin-bottom: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .collections-item{
        display: flex;

        &__number{
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: #181818;
            opacity: 0.5;
            margin-bottom: 10px;
        }

        &__title{
            font-weight: 400;
            font-size: 24px;
            line-height: 115%;
            text-transform: uppercase;
            color: #181818;
        }

        &__column{
            &--first{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            &--image{
                margin: 0px 20px;

                img{
                    display: block;
                    max-width: 590px;
                    width: 100%;
                }
            }

            &--last{
                display: flex;
                flex-direction: column;
                justify-content: end;
            }
        }

        &__view{
            margin-top: 100px;
        }
    }
}

/* INFORMATION BLOCK */
.information{
    .information-inner{
        &__title{
            max-width: 690px;
            margin: auto;
            margin-bottom:30px;
        }

        .c-information-inner{
            display: flex;
            justify-content: space-between;

            &__left{
                max-width: 380px;
                width: 100%;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: #181818;
                opacity: 0.8;
            }

            .information-inner-right{
                position: relative;

                &__border{
                    position: absolute;
                    bottom: -15px;
                    left: -15px;
                    width: 272px;
                    height: 322px;
                    display: block;
                    border: 1px solid #BAA391;
                    border-radius: 100px 0px 0px 0px;
                }

                img{
                    position: relative;
                    z-index: 2;
                    display: block;
                }

                &__dop{
                    position: absolute;
                    left: -200px;
                    bottom: 93px;

                    img{
                        z-index: 3;
                        border-radius: 100px 0px 0px 0px;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    &__view{
        margin-top:40px;
        margin-left: 0;
    }
}

/* CATALOG */
.catalog{
    background: #F4F4F4;
    padding: 50px 0px 70px;

    &__link{
        justify-content: center;
        margin-bottom: 25px;
        margin-top: 20px;
    }

    &__list{
        display: flex;
        justify-content: space-between;
    }
}

/* BLOG */
.blog{
    &__list{
        margin-top: 30px;
    }

    &__view{
        margin-top: 50px;
    }
}

.blog-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    &__image{
        max-width: 285px;

        img{
            width: 100%;
            object-fit: cover;
        }
    }

    &__item{
        text-decoration: none;
    }

    &__name{
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: #181818;
        margin-top:12px;
    }

    &__date{
        font-weight: 400;
        font-size: 14px;
        line-height: 115%;
        color: #000000;
        opacity: 0.5;
        margin-top:10px;
    }
}

/* SUBSCRIBE */
.subscription-field{
    position: relative;
    max-width: 590px;
    margin: auto;
    margin-top: 20px;

    &__input{
        width: 100%;
        border: none;
        border-bottom: 1px solid #868686;
        padding: 10px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 115%;
        color: #868686;
        outline: none;
    }

    &__btn{
        position: absolute;
        border: none;
        background: none;
        right: 0;
        top: 12px;
    }
}

/* FOOTER */
.footer{
    background: #F4F4F4;
    padding-top: 51px;
    padding-bottom: 15px;
    margin-top: -70px;

    .footer-menu{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            &:not(:last-child){
                margin-bottom: 15px;
            }

            a{
                font-weight: 400;
                font-size: 16px;
                line-height: 115%;
                color: #181818;
                text-decoration: none;
            }
        }
    }
    
    .footer-inner-top{
        display: flex;
        justify-content: space-between;
        border-bottom:1px solid rgba(134, 134, 134, 0.3);
        padding-bottom: 25px;
        
        &__column{
            &--first{
                display: flex;
                gap: 104px;
            }

            &--last{
                display: grid;
                grid-column-gap: 112px;
                grid-row-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
            }

            .footer-info-block{
                &__name{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 100%;
                    color: #181818;
                    margin-bottom: 10px;
                }

                &__content{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 115%;
                    color: #181818;
                    opacity: 0.8;

                    &--time{
                        display: flex;
                        flex-direction: column;
                        div:not(:last-child){
                            margin-bottom: 6px;
                        }
                    }

                    .footer-social{
                        display: flex;
                        margin-top: 20px;

                        &__item{
                            &:not(:last-child){
                                margin-right: 10px;
                            }

                            &:hover{
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-inner-bottom{
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__copyright{
            font-weight: 400;
            font-size: 14px;
            line-height: 115%;
            color: #868686;
        }

        &__policy{
            a{
                font-weight: 400;
                font-size: 14px;
                line-height: 115%;
                text-decoration: none;
                color: #868686;
            }
        }
    }
}

/* CATALOG PAGE */
.title-category-page{
    display: grid;
    grid-gap:20px;
    grid-template-columns: 1fr 895px;
    align-items: center;

    .title-h1{
        margin-top: 17px;
        margin-bottom: 17px;
        text-align: left;
    }
}

.catalog-page{
    display: grid;
    grid-gap:20px;
    grid-template-columns: 1fr 895px;

    .products{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 20px;
    }

    &__pagination{
        margin-top: 70px;
    }
}

/* BLOG PAGE */
.blog-page{
    .blog-page-item{
        display: flex;

        &:not(:last-child){
            margin-bottom:30px;
        }
        
        &__image{
            max-width: 285px;
            margin-right:20px;

            img{
                width: 100%;
                display: block;
            }
        }
        .i-blog-content{
            &__name{
                font-weight: 400;
                font-size: 22px;
                line-height: 115%;
                color: #181818;
                margin-bottom:10px;
            }
            
            &__info{
                display: flex;
                align-items: center;
            }

            &__date,
            &__view
            {
                font-weight: 400;
                font-size: 14px;
                line-height: 115%;
                color: #181818;
                opacity: 0.6;
            }

            &__view{
                display:flex;
                align-items: center;

                img{
                    display: block;
                    margin-left:27px;
                    margin-right:3px;
                }
            }

            &__text{
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: #181818;
                opacity: 0.8;
                max-width: 441px;
                margin-top:25px;
            }

            &__link{
                margin-top:50px;
            }
        }
    }
}

/* PRODUCT PAGE */
.product-single{

    &__view{
        margin-top: 25px;
        display: block;
    }

    .thumbsSlider{
        margin-top:10px;

        .swiper-slide{
            img{
                max-width: 135px;
                max-height: 135px;
                object-fit: cover;
            }
        }
    }

    .swiper-slide{
        img{
            width: 100%;
            display: block;
        }
    }

    &__wrapper{
        display: flex;
    }

    &__image{
        width: 690px;
        margin-right: 60px;
    }

    .product-content{
        &__title{
            font-weight: 400;
            font-size: 28px;
            line-height: 115%;
            color: #181818;
            margin: 0;
        }

        &__description{
            font-weight: 400;
            font-size: 16px;
            line-height: 115%;
            color: #181818;
            margin-top:10px;
            opacity: 0.4;
        }

        &__option{
            margin-top:20px;
        }

        .product-content-option{
            display: flex;
            align-items: center;

            &__item{
                margin-right: 12px;
            }

            &__title{
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                color: #181818;
                margin-right: 20px;
            }

            &__name{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border:1px solid rgba(24, 24, 24, 0.8);
                font-weight: 400;
                font-size: 14px;
                color: #181818;
                opacity: 0.5;
                cursor: pointer;
            }

            input{
                position: absolute;
                opacity: 0;
                left: -99999px;

                &:checked + .product-content-option__name{
                    opacity: 1;
                }
            }
        }

        &__stock{
            position: relative;
            font-weight: 400;
            font-size: 16px;
            line-height: 115%;
            color: rgba(24, 24, 24, 0.5);
            margin: 15px 0px 20px;
            padding-left: 10px;

            &:after{
                content:"";
                width: 6px;
                height: 6px;
                background: #EDCE9B;
                position: absolute;
                border-radius: 50%;
                left: 0;
                top: 5px;
            }
        }

        &__price{
            font-weight: 400;
            font-size: 26px;
            line-height: 115%;
            color: #181818;
            opacity: 0.9;
            margin:20px 0 25px;
        }

        &__btns{
            display: flex;
            align-items: center;
        }
    }

    .btn-add-wishlist{
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #181818;
        opacity: 0.6;
        display: flex;
        align-content: center;
        text-decoration: none;

        &__text{
            margin-left:7px;
        }
    }

    .btn-add-cart{
        background: #BAA391;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
        border: none;
        outline: none;
        cursor: pointer;
        max-width: 285px;
        margin-right: 20px;
    }
}

/* CARUSEL PRODUCT */
.carusel-product{
    &__title{
        margin-bottom: 30px;
    }
}

/* FAQ BLOCK */
.faq{
    &__title{
        margin-bottom: 30px;
    }

    .faq-list-item{
        position: relative;
        padding: 10px 0;
        border-top:1px solid rgba(134, 134, 134, 0.5);

        &:last-child{
            border-bottom:1px solid rgba(134, 134, 134, 0.5);
        }

        &__name{
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: #181818;
        }
        &__caption{
            display: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 115%;
            color: #181818;
            opacity: 0.8;
            margin-top:8px;
            max-width: 720px;
            width: 100%;
        }

        &__icon{
            position: absolute;
            right: 0;
            top: 10px;
        }

        &--active{
            .faq-list-item{
                &__caption {
                    display: block;
                }
                
                &__icon{
                    svg rect:last-child{
                        display: none;
                    }
                }
            }
            
        }
    }

}